# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
Lib/
Scripts/

# =====================
# ML / Data files
# =====================
data/
*.csv
*.xlsx
*.parquet

# Models (VERY IMPORTANT)
*.pkl
*.joblib
models/
notebooks/*.pkl

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Logs
# =====================
*.log

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Docker
# =====================
*.tar
*.gz